body {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;            /* White font color for visibility */
  background-color: #222; /* Dark background for contrast */
  background-image: url("./images/pexels-pixabay-33109.jpg");
  padding: 1em;
}
p {
  font-size: 12pt;
  font-family: cursive;
}
h1 {
  font-size: 48pt;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
